/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-around;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-in-nav {
  color: white;
}

.thing-container {
  display: flex;
  flex-wrap: wrap;
}
.oneBot {
  padding: 10px;
  background-color: rgb(199, 198, 198);
  margin: 20px;
}
.projects-assigned-to {
  width: 250px;
  border: solid rgb(0, 0, 0) 2px;
  float: right;
}

.single-robot {
  display: flex;
  justify-content: center;
}
img {
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
}
